<form action="/" class="epic-like" method="POST">

    <% items.forEach(function(item){%>
        <input type="hidden" name="gamename" value="<%= item.title %>" />
        <input type="hidden" name="regular_price" value="<%= JSON.stringify(item.price.totalPrice.fmtPrice.originalPrice).replace(/"|CA/g, '') %>" />
        <input type="hidden" name="sale_price" value="Free" />
        <input type="hidden" name="retailer" value="Epic Games" />
        <input type="hidden" name="buy_now" value="https://www.epicgames.com/store/en-US/p/<%= item.productSlug %>" />
        <input type="hidden" name="image" value="<%= item.keyImages[0].url %>" />
        <input type="hidden" name="epic_id" value="<%= item.productSlug %>" />
    <%} ); %>

        <input type="submit" id="epiclike" value="Like" onclick="xchangebutton()"/>

</form>

<script>
    function xchangebutton() {
        let x = document.getElementById("epiclike");
            if (x.value === "Like") {
                x.value = "Unlike";
            } else {
                x.value = "Like";
            }
    }
</script>