<form action="/" class="liked" method="POST">

    <% steam.forEach(function(item){%>
        <input type="hidden" class="liked" name="gamename" value="<%= item.title %>" />
        <input type="hidden" class="liked" name="regular_price" value="<%= item.original_price.toString().substring(0,item.original_price.toString().length-2)+"."+item.original_price.toString().substring(item.original_price.toString().length-2) %>" />
        <input type="hidden" class="liked" name="sale_price" value="<%= item.final_price.toString().substring(0,item.final_price.toString().length-2)+"."+item.final_price.toString().substring(item.final_price.toString().length-2) %>" />
        <input type="hidden" class="liked" name="platform" value="Steam" />
        <input type="hidden" class="liked" name="buy_now" value="https://store.steampowered.com/app/<%= item.id %>" />
        <input type="hidden" name="image" value="<%= item.small_capsule_image %>" />
        <input type="hidden" class="liked" name="epic_id" value="<%= item.id %>" />
    <%} ); %>

    <input type="submit" id="steamlike" value="Like" onclick="changebutton()"/>

</form>

<script>
    function changebutton() {
        let z = document.getElementById("steamlike");
            if (z.value === "Like") {
                z.value = "Unlike";
            } else {
                z.value = "Like";
            }
    }
</script>