<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Settings</title>
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/user-header'); %>
    <section id="users">
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1>Admin Dashboard</h1>
        <form id="usersearch" method="POST" action="/user-search" class="form-group">
            <input class="search" type="text" id="term" name="term" placeholder="Search Users..." />
            <div style="text-align: center;"><button type="submit" class="btn btn-dark" value="Search">Search</button></div>
        </form>
            <table class="admin">
                <% if (messages) { %>
                    <p><%= messages.success %></p>
                <% } %>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user._id %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><form action="/delete/<%= user._id %>" method="POST" id="deleteUser">
                            <button class="btn btn-danger" onclick="confirmDelete()">Delete</button></form>
                            <form action="/edit-profile/<%= user._id %>" method="get">
                                <button class="btn btn-primary">Update</button></form>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </section> 
</body>
<script>
function confirmDelete(){
    if(window.confirm("Are you sure you want to delete user")){
        document.getElementById("deleteUser").submit();
    } else {
        event.preventDefault();
        return res.redirect('/admin-settings')
    }
  }
</script>
</html>