<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/checkboxes.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
    <title>Search Results</title>
</head>
<body>
    <% if(login){ %>
        <%- include('./partials/user-header'); %>
    <% } else { %>
        <%- include('./partials/non-user-header'); %>
    <% } %>
    <div class="divider">
        <section id="filters">
            <h3>Filters</h3>
            <form id="filters" action="#" class="form-group">
                <h4>Platform:</h4>
                <input type="checkbox" class="css-checkbox" id="platform_steam" name="platform_steam" checked/>&nbsp;<label class="css-label lite-gray-check" for="platform_steam">Steam</label><br>
                <input type="checkbox" class="css-checkbox" id="platform_epic" name="platform_epic" checked/>&nbsp;<label class="css-label lite-gray-check" for="platform_epic">Epic Games</label><br>
                <input type="checkbox" class="css-checkbox" id="platform_origin" name="platform_origin" checked/>&nbsp;<label class="css-label lite-gray-check" for="platform_origin">Origin</label><br>
                <input type="checkbox" class="css-checkbox" id="platform_gamestop" name="platform_gamestop" checked/>&nbsp;<label class="css-label lite-gray-check" for="platform_gamestop">GameStop</label><br>
                <input type="checkbox" class="css-checkbox" id="platform_uplay" name="platform_uplay" checked/>&nbsp;<label class="css-label lite-gray-check" for="platform_uplay">Uplay</label><br>
                <button type="submit" class="btn btn-dark" value="Use Filters">Use Filters</button>
            </form>
            <h4>Currency:</h4>
            <div id="currency">
            <input type="checkbox" class="css-checkbox" id="usd" name="currency[]" checked/>&nbsp;<label class="css-label lite-gray-check" for="usd">USD</label><br>
            <input type="checkbox" class="css-checkbox" id="cad" name="currency[]" />&nbsp;<label class="css-label lite-gray-check" for="cad">CAD</label><br>
            <input type="checkbox" class="css-checkbox" id="eur" name="currency[]" />&nbsp;<label class="css-label lite-gray-check" for="eur">EUR</label><br>
            <input type="checkbox" class="css-checkbox" id="gbp" name="currency[]" />&nbsp;<label class="css-label lite-gray-check" for="gbp">GBP</label><br>
            </div>
        </section>

        <section id="results">
            <h1>Results for: "<%- searchName %>"</h1>
        <% items.forEach(function(item) { %>

            <div class="card">
                <div class="card-horizontal">
                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Game</th>
                                    <td><%= item.title %></td>
                                </tr>
                                <tr>
                                    <th>Regular Price</th>
                                    <td class="retailPrice">$<%= item.normalPrice %></td>
                                </tr>
                                <tr>
                                    <th>Sale Price</th>
                                    <td class="salePrice">$<%= item.salePrice %></td>
                                </tr>
                                <tr>
                                    <th>Platform</th>
                                    <% if(item.storeID == 1){ %>
                                        <td>Steam</td>
                                    <% } %>
                                    <% if(item.storeID == 5){ %>
                                        <td>GameStop</td>
                                    <% } %>
                                    <% if(item.storeID == 8){ %>
                                        <td>Origin</td>
                                    <% } %>
                                    <% if(item.storeID == 13){ %>
                                        <td>Uplay</td>
                                    <% } %>
                                    <% if(item.storeID == 25){ %>
                                        <td>Epic Games</td>
                                    <% } %>
                                    <% if(item.storeID == 31){ %>
                                        <td>Blizzard</td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <th>Buy Now</th>
                                    <td><a href="https://www.cheapshark.com/redirect?dealID={<%= item.dealID %>}" >Link</a></td>
                                </tr>
                                <tr>
                                    <th>Add to Likes</th>
                                    <td><% if(login){ %>
                                        <form action="/like" class="liked" method="POST">
                                            <input type="hidden" name="gameID" value="<%= item.gameID %>" />
                                            <input type="hidden" name="gameTitle" value="<%= item.title %>" />
                                            <button type="submit" class="btn btn-light" value="Like">Like</button>
                                        
                                        </form>
                                        <% } else { %>
                                        Login to add to likes
                                    <% } %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="img-square-wrapper"><img class="card-img-right" src="<%= item.thumb %>" /></div>
                </div>
            </div>
            <% }); %>
        </section>
      </div>
</body>
<script>

$('input[type="checkbox"]').on('change', function() {
    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
});
</script>   
</html>