<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% items.forEach(function(item) { %>
          <ul>
            <li>Game: <%= item.title %></li> 
            <li>Regular Price: <%= JSON.stringify(item.price.totalPrice.fmtPrice.originalPrice).replace(/"/g, '') %></li>
            <li>Sale Price: Free</li>
            <li>Retailer: Epic Games</li>
            <li><img src="<%= item.keyImages[0].url %>" width="250" height="250"></li>
            <li>Buy Now: <a href="https://www.epicgames.com/store/en-US/p/<%= item.urlSlug %>" >Link</a></li>
          </ul>
        <% }); %>
      </div>
      <div>
        <% future.forEach(function(item) { %>
          <ul>
            <li>Game: <%= item.title %></li> 
            <li>Regular Price: <%= JSON.stringify(item.price.totalPrice.fmtPrice.originalPrice).replace(/"/g, '') %></li>
            <li>Sale Price: Free</li>
            <li>Retailer: Epic Games</li>
            <li><img src="<%= item.keyImages[0].url %>" width="250" height="250"></li>
            <li>Buy Now: <a href="https://www.epicgames.com/store/en-US/p/<%= item.urlSlug %>" >Link</a></li>
          </ul>
        <% }); %>
      </div>
</body>
</html>
