<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <% items.forEach(function(item) { %>

    <div class="card">
        <div class="card-horizontal">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <th>Game</th>
                            <td><%= item.name %></td>
                        </tr>
                        <tr>
                            <th>Regular Price</th>
                            <td class="retailPrice">$<%= item.original_price %></td>
                        </tr>
                        <tr>
                            <th>Sale Price</th>
                            <td class="salePrice">$<%= item.final_price %></td>
                        </tr>
                        <tr>
                            <th>Platform</th>
                            <td>Steam</td>
                        </tr>
                        <tr>
                            <th>Buy Now</th>
                            <td><a href="https://store.steampowered.com/app/<%= item.id %>" >Link</a></td>
                        </tr>
                        <tr>
                            <th>Add to Likes</th>
                            <td>Like</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="img-square-wrapper"><img class="card-img-right" src="<%= item.small_capsule_image %>" /></div>
        </div>
    </div>
  <% }); %>
      
</body>
</html>
